{{/*
SPDX-FileCopyrightText: 2020 Carl Schwan <carl@carlschwan.eu>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}
<figure class="text-center">
  <a href="{{ .Destination }}" target="_blank"><img src="{{ .Destination }}" class="img-fluid" style="max-width: 700px" alt="{{ .Text }}" /></a>
</figure>
